@import '~material-colors/dist/colors';
mat-list-item {
  button{
    text-align: right;
    padding: 0px 0.4em !important;

    mat-icon{
      padding-left: 1em;
      vertical-align: text-top;
    }
  }
}

.clock-icon {
  color: $md-orange-700;
}

.inbox-icon {
  color: $md-blue-900;
}

.check-icon{
  color: $md-green-700;
}

.default-icon {
  color: $md-grey-700;
}
