<mat-list>
    <mat-list-item *ngFor="let folder of folders">
        <!--  -->
        <button mat-line mat-button>
          <mat-icon color="accent">inbox</mat-icon>
          {{folder.name}}
        </button>
        <!-- <p mat-line> {{note.updated | date}} </p> -->
      </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let folder of folders">
      <!--  -->
      <button mat-line mat-button>
        <mat-icon color="primary">note</mat-icon>
        {{folder.name}}
      </button>
      <!-- <p mat-line> {{note.updated | date}} </p> -->
    </mat-list-item>
  </mat-list>
