/**
*
*	Name:			IRANYekan Font
*	Version:		1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2016
*	Updated on:		Dec 20, 2016
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/woff2/iranyekanwebbold.woff2');
  src: url('/assets/fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/woff2/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/woff/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}


@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/eot/iranyekanweblight.eot');
  src: url('/assets/fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/woff2/iranyekanweblight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/woff/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/eot/iranyekanwebregular.eot');
  src: url('/assets/fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/woff/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}


/* #region FaNum */

@font-face {
  font-family: fanumiran;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/eot/fanumbold.eot');
  src: url('/assets/fonts/eot/fanumbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/woff2/fanumbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/woff/fanumbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/ttf/fanumbold.ttf') format('truetype');
}

@font-face {
  font-family: fanumiran;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/eot/fanumlight.eot');
  src: url('/assets/fonts/eot/fanumlight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/woff2/fanumlight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/woff/fanumlight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/ttf/fanumlight.ttf') format('truetype');
}

@font-face {
  font-family: fanumiran;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/eot/fanumregular.eot');
  src: url('/assets/fonts/eot/fanumregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/woff2/fanumregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/woff/fanumregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/ttf/fanumregular.ttf') format('truetype');
}


/* #endregion FaNum */


/* Latin fonts (Roboto) */

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/eot/robotobold.eot');
  src: url('/assets/fonts/eot/robotobold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/woff2/robotobold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/woff/robotobold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/ttf/robotobold.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/eot/robotolight.eot');
  src: url('/assets/fonts/eot/robotolight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/woff2/robotolight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/woff/robotolight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/ttf/robotolight.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/eot/robotoregular.eot');
  src: url('/assets/fonts/eot/robotoregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/assets/fonts/woff2/robotoregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/woff/robotoregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/ttf/robotoregular.ttf') format('truetype');
}
