<app-content-wrapper>
  <main class="content">
    <img src="/assets/img/logo/logo.png" class="application-logo"/>
    <div class="login-container mat-elevation-z2">
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
      <div class="form-wrapper">
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>ایمیل</mat-label>
            <input matInput placeholder="ایمیل" autocomplete="email">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>رمز عبور</mat-label>
            <input matInput placeholder="رمز عبور" type="password" autocomplete="current-password">
            <mat-icon matSuffix>fingerprint</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="field-container">
          <button mat-stroked-button color="primary">وارد شوید</button>
        </div>
        <div class="field-container">
          <p class="forget-password-link">
            <a [routerLink]="['/forgetpassword']" class=""  color="warn">رمز خود را فراموش کرده اید؟</a> |
            <a [routerLink]="['/register']" class=""  color="warn">ثبت نام کنید</a>
          </p>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</app-content-wrapper>
